body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Сетка для глаавной*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-dark {
  width: 100%;
  min-height: 42px;

  margin-bottom: 46px;

  background-color: #293449;
}

.container-light {
  width: 100%;

  background-color: #f3f7f8;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-navigation-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-links {
  margin-left: auto;
}

.page-title-index,
.header-title {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-left: 53px;
  margin-right: 70px;
  margin-bottom: 40px;
}

.header-contacts {
  margin: 0;
  padding: 0;
}



.container-light-blue {
  width: 100%;

  background-color: #32425c;
}

.container-dark-blue {
  width: 100%;

  background-color: #293449;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  padding: 21px 41px;
  margin-bottom: 27px;
  border-bottom: 5px solid #b52933;
}

p.footer-contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.menu-footer-navigation-white {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 40px;
}

ul.menu-footer-navigation-yellow {
  width: 527px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 39px;
  padding-bottom: 35px;
}

p.footer-copyright-company {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 150px;
}

ul.footer-social {
  width: 131px;
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

p.footer-email-adress {
  width: 140px;
  margin: 0;
  padding: 0;
}

p.footer-copyright-htmlacademy {
  width: 111px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}








/*Стили header*/

.main-header {
  background-color: #f3f7f9;
}

header.main {
  margin-bottom: 59px;
}

header.inner {
  margin-bottom: 22px;
}

.header-navigation-top,
.menu-header-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-navigation-top a {
  color: #ffffff;
  background-color: #293449;
}

.header-navigation-top a:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.header-navigation-top a:focus {
  color: #8b8e94;
  background-color: #161d29;
}

a.header-logo {
  position: absolute;
  padding: 13px 52px 7px 52px;
  top: 0px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

a.header-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

a.header-logo:focus {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

form.search {
  position: relative;
  width: 270px;

  /*Временно*/
  height: 42px;

  margin-left: 215px;
}

.search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

input[type=search]:hover + svg {
  opacity: 1;
}

input[type=search]:focus~svg>path {
  fill: #ee3643;
}

input[type=search] {
  width: 270px;
  height: 42px;
  padding-left: 49px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
   }

input[type="search"]::-moz-placeholder {
    color: #ffffff;
   }

input[type=search]:hover {
  background-color: #212a3a;

  /*color: #ffffff;
  border: none;
  cursor: pointer;*/
}

input[type=search]:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;

  /*border: none;
  cursor: pointer;*/
}

.search .button {
  display: none;
}

.top-navigation a {
  display: block;

  vertical-align: middle;
  color: #ffffff;
}

.wrapper-links a {
  float: left;
  padding: 12px 20px;
}

a.bookmarks-link {
  position: relative;
  padding-left: 44px;
  padding-right: 28px;
}

.bookmarks-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

a.cart-link {
  position: relative;
  padding-left: 50px;
  padding-right: 28px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;

  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks-link:hover::before,
.cart-link:hover::before,
.search:hover::before {
  opacity: 1;
}

.bookmarks-link:focus::before,
.cart-link:focus::before {
  opacity: 0.5;
}

a.button-green {
  background-color: #63a63e;
}

a.button-green:hover {
  background-color: #5fbb2d;
}

a.button-green:focus {
  color: #b6c8ae;
  background-color: #518534;
}

a.cart-active-red {
  background-color: #ee3643;
}

a.cart-active:hover {
  background-color: #ca2c37;
}

a.cart-active:focus {
  color: #b6c8ae;
  background-color: #ba2732;
}

.page-title-index,
.header-title,
.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;

  background-color: #f3f7f8;
}

.phone {
  display: block;
  position: relative;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 9px 50px 9px 70px;
  margin-bottom: 4px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;
  width: 18px;
  height: 19px;

  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.login-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.login-navigation,
.menu-header-navigation {
  list-style: none;
}

.login-navigation a,
a.user-profile {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}

a.sign-in-link {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.sign-in-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-in-link:hover::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-navigation a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

p.user-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 299px;
  margin-bottom: 8px;

  background-color: white;
}

.user-field,
.user-links {
  margin: 0;
  padding: 0;
}

.user {
  margin-left: auto;
}

a.user-profile:hover {
  color: #000000;
  background-color: #ffffff;
}

.login-navigation a:focus,
a.user-profile:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}

a.user-profile {
  position: relative;
  padding-left: 47px;
  padding-right: 15px;
}

.user-profile::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:hover::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:focus::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.deauthorization {
  width: 21px;
  height: 17px;
  padding: 14px 10px;
  background-color: white;
}

a.deauthorization:hover path {
  fill: #32425c;
}

a.deauthorization:focus path {
  fill: #c5c5c5;
}

.user-links {
  position: relative;
  padding-left: 18px;
}

.user-links::before {
  content: "";

  position: absolute;
  left: 108px;
  top: 9px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-links a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-decoration: underline;

  background-color: #f3f7f8;
}

.user-links a:nth-child(2) {
  margin-left: 32px;
}

.user-links a:hover {
  color: #ee3643;
  background-color: #f1f5f7;
}

.user-links a:focus {
  color: #cacfd5;
  background-color: #f1f5f7;
}

ul.menu-header-navigation {
  line-height: 17px;
}

.menu-header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 60px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.menu-header-navigation a {
  display: block;
  padding: 0;
  margin: 0;
  padding: 19px 30px 19px 31px;

  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
}

.menu-header-navigation li:nth-child(1) > a {
  padding-left: 52px;
}

.menu-header-navigation li:nth-child(7) > a {
  padding-right: 52px;
}

.menu-header-navigation a:hover {
  background-color: #293449;
}

.menu-header-navigation a:focus {
  color: #8b8e94;
  background-color: #1d2739;
}


/*Стили main*/

/*Главная*/

.container-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 85px;
  min-height: 370px;
}

.container-company p {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.company a {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts a {
  margin-top: auto;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.company h2,
.contacts h2,
.modal h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.company h2,
.contacts h2 {
  margin-bottom: 30px;
}

.modal-cart-adding h2 {
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  margin-left: 180px;
}

.company p:nth-child(3) {
  width: 400px;
  margin-bottom: 26px;
}

.contacts p {
  margin-bottom: 28px;
}

.transport-companies-list {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.transport-companies-list li {
  position: relative;
  margin-bottom: 15px;
}

.transport-companies-list li::before {
  content: "";

  position: absolute;
  left: -36px;
  top: 7px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.button {
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  padding-top: 11px;
  padding-bottom: 9px;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.company .button {
  padding-left: 40px;
  padding-right: 40px;
}


/*Страница каталога*/

ul.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 54px;
  margin-bottom: 21px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-breadcrumbs,
.tool-breadcrumbs {
  position: relative;
}

.catalog-breadcrumbs::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -55px;
  width: 14px;
  height: 12px;

  background-image: url("img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-breadcrumbs::after {
  content: "";

  position: absolute;
  top: 2px;
  left: -25px;
  width: 7px;
  height: 12px;

  background-image: url("img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool-breadcrumbs::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -22px;
  width: 14px;
  height: 12px;

  background-image: url("img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool-breadcrumbs::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 98px;
  width: 7px;
  height: 12px;

  background-image: url("img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  margin-right: 40px;
  color: #000000;
  background-color: #ffffff;
}

h1.page-title-inner {
  padding: 28px 0px 32px 30px;
  margin-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters {
  width: 220px;
}

.filters h2 {
  padding: 0;
  margin: 0;
  padding: 10px 0px 10px 18px;
  margin-bottom: 10px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 0px;

  border: none;
}

.filter legend {
  position: relative;

  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter legend::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -20px;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.manufacturers .filter-option:nth-last-child(1) {
  margin-bottom: 40px;
}

.nutrition .filter-option:nth-last-child(1) {
  margin-bottom: 79px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*.filter-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-button {
  padding: 9px 39px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:focus {
  border: 1px solid #ee3643;
}

p.sorting-title {
  padding: 0;
  margin: 0;
  padding: 10px 0px 10px 18px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}


/*Каталог*/

.catalog {
  width: 700px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*-webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;*/
  padding: 0;
  margin: 0;
  margin-bottom: 52px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item:nth-child(2n) .flag-new,
.catalog-item:nth-child(1) .flag-new,
.catalog-item:nth-child(9) .flag-new {
  background: none;
}

.catalog-item .hidden {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.hidden .button-purchase,
.hidden .button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.hidden .button-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .hidden {
  display: none;
}

.catalog-item:hover .hidden {
  display: block;
}

.hidden .button-purchase:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.hidden .button-purchase:focus {
  background-color: #518534;
  border-color: #518534;
}

.hidden .button-bookmark:hover {
  border-color: #32425c;
}

.hidden .button-bookmark:focus {
  border-color: #32425c;
  opacity: 0.3;
}

a.catalog-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item-image {
  width: 219px;
  height: 170px;
  margin: 0;
}

.catalog-item-price {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-item-price b {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.old-price {
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price .hidden-price {
  visibility: hidden;
}

.new-price {
  position: relative;
  width: 80px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}


/*Стили footer*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 85px;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-down {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow,
.footer-social {
  list-style: none;
}

.menu-footer-navigation-white a {
  color: #ffffff;
  background-color: #32425c;
}

.menu-footer-navigation-yellow a {
  color: #ffd180;
  background-color: #32425c;
}

.main-footer a:hover {
  text-decoration: underline;
}

.menu-footer-navigation-white a:focus {
  color: #a4abb4;
  background-color: #32425c;
  text-decoration: none;
}

.menu-footer-navigation-yellow a:focus {
  color: #ad956f;
  background-color: #32425c;
  text-decoration: none;
}

.footer-down a {
  color: #ffd180;
  background-color: #293449;
}

.footer-down a:focus {
  color: #ee3643;
  background-color: #293449;
  text-decoration: none;
}

.footer-social a {
  color: #ffffff;
}

.social-button-vk,
.social-button-f,
.social-button-inst {
  position: relative;
}

.social-button-vk::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 15px;

  background-image: url("img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 13px 7px;
  background-position: 50% 50%;
}

.social-button-f::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 46px;
  width: 12px;
  height: 22px;

  background-image: url("img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 9px 14px;
  background-position: 50% 50%;
}

.social-button-inst::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 92px;
  width: 20px;
  height: 20px;

  background-image: url("img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 10px 10px;
  background-position: 50% 50%;
}

.social-button-vk:hover::before,
.social-button-f:hover::before,
.social-button-inst:hover::before,
.social-button-vk:focus::before,
.social-button-f:focus::before,
.social-button-inst:focus::before {
  background-color: #ee3643;
}


/*Модальные окна
Общие стили*/

.modal {
  position: relative;

  background-color: white;
}

.modal-letter,
.modal-map,
.modal-cart-adding {
  position: fixed;

  top: 120px;
  left: 50%;
}


.modal-letter,
.modal-cart-adding {
  width: 620px;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
          box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  padding: 37px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background-color: #f4f4f4;
}

/*Форма на Главной "Напишите нам"*/

.modal-letter {
  display: none;
  margin-left: -310px;
}

.items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 47px 80px 35px 80px;
}

.letter-item {
  padding: 0;
  margin: 0;
  width: 220px;
}

.letter-item label {
  display: block;
  margin-bottom: 9px;
}

.letter-item-textarea label {
  margin-top: 21px;
  margin-bottom: -9px;
}

.letter-item input {
  width: 100%;
}

.letter-item textarea {
  width: 460px;
  resize: none;
}

.letter-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.letter-item textarea,
.letter-item input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.letter-item textarea::-webkit-input-placeholder,
.letter-item input::-webkit-input-placeholder {
    color: #a9a9a9;
   }

.letter-item textarea::-moz-placeholder,
.letter-item input::-moz-placeholder {
    color: #a9a9a9;
   }

.letter-form .button {
  padding-left: 198px;
  padding-right: 198px;
}

/*Модальное окно на Главной "Карта"*/

.modal-map {
  display: none;
  width: 940px;
  height: 447px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0px 16px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0px 16px rgba(47, 42, 43, 0.5);

  background-color: #eeeae3;
}

.modal-map p {
  margin: 0;
}

/*Модальное окно Каталога "Товар добавлен в корзину"*/

.modal-cart-adding {
  display: none;
  z-index: 100;
  margin-left: -310px;
}

.modal-cart-adding p {
  margin: 0;
}

.modal-cart-adding::before {
  content: "";

  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-image: url("img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  background-image: url("img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-area .button-red {
  padding-left: 61px;
  padding-right: 61px;
}

.button-area .button-white {
  color: #000000;
  background-color: #ffffff;
  padding-left: 46px;
  padding-right: 46px;
}

.button-area .button-white:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.button-area .button-white:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
