body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Сетка для глаавной*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-dark {
  width: 100%;
  margin-bottom: 46px;

  background-color: #293449;
}

.container-light {
  width: 100%;

  background-color: #f3f7f8;
}

.header-navigation {
  display: flex;
  flex-direction: column;
}

.header-navigation-top {
  display: flex;
  align-items: center;
}

.header-center{
  display: flex;
}

.wrapper-links {
  margin-left: auto;
}

.page-title-index,
.header-title {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-left: 53px;
  margin-right: 70px;
  margin-bottom: 40px;
}

.header-contacts {
  margin: 0;
  padding: 0;
}



.container-light-blue {
  width: 100%;

  background-color: #32425c;
}

.container-dark-blue {
  width: 100%;

  background-color: #293449;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  padding: 21px 41px;
  margin-bottom: 27px;
  border-bottom: 5px solid #b52933;
}

p.footer-contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}

ul.menu-footer-navigation-white {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 40px;
}

ul.menu-footer-navigation-yellow {
  width: 527px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.footer-down {
  display: flex;
  padding-top: 39px;
  padding-bottom: 35px;
}

p.footer-copyright-company {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 150px;
}

ul.footer-social {
  width: 131px;
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

p.footer-email-adress {
  width: 140px;
  margin: 0;
  padding: 0;
}

p.footer-copyright-htmlacademy {
  width: 111px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}


  /* Сетка для каталога*/
.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

h1.page-title-inner {

  margin-bottom: 20px;

  /* Временно для сетки */
  min-height: 89px;
}

.filters {
  width: 220px;

  /* Временно для сетки */
  min-height: 746px;
}

.filters h2 {
  /* Временно для сетки */
  min-height: 38px;
}

.catalog {
  width: 700px;

  /* Временно для сетки */
  min-height: 996px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;

  /* Временно для сетки */
  min-height: 320px;
}

.catalog-item:nth-child(3n) {
}

.modal-letter,
.modal-cart-adding {
  width: 620px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  margin: auto;
  border-top: 7px solid #ee3643;
}

.modal-map {
  box-shadow: 0 0px 16px rgba(47, 42, 43, 0.5);
}

.button-area {
  display: flex;
  width: 460px;
  padding: 37px 80px;
  justify-content: space-between;
}









/*Стили header*/

.main-header {
  background-color: #f3f7f9;
}

header.main {
  margin-bottom: 59px;
}

header.inner {
  margin-bottom: 22px;
}

.header-navigation-top,
.menu-header-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-navigation-top a {
  color: #ffffff;
  background-color: #293449;
}

.header-navigation-top a:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.header-navigation-top a:focus {
  color: #8b8e94;
  background-color: #161d29;
}

a.header-logo {
  position: absolute;
  padding: 13px 52px 7px 52px;
  top: 0px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

a.header-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

a.header-logo:focus {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

form.search {
  position: relative;
  margin-left: 220px;
}

form.search:hover {
  background-color: #212a3a;
}

.search::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;

  background-image: url("img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search label {
  padding-top: 11px;
  padding-right: 0px;
  padding-bottom: 12px;
  padding-left: 50px;
}

input[type=search] {
  padding-top: 11px;
  padding-right: 0px;
  padding-bottom: 12px;
  padding-left: 0px;

  color: #ffffff;
  background-color: #293449;
  border: none;
  cursor: pointer;
}

input[type=search]:hover {
  color: #ffffff;
  background-color: #212a3a;
  border: none;
  cursor: pointer;
}

input[type=search]:focus {
  color: #000000;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.top-navigation a {
  display: block;

  vertical-align: middle;
  color: #ffffff;
}

.wrapper-links a {
  float: left;
  padding: 12px 20px;
}

a.bookmarks-link {
  position: relative;
  padding-left: 44px;
  padding-right: 28px;
}

.bookmarks-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

a.cart-link {
  position: relative;
  padding-left: 50px;
  padding-right: 28px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;

  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks-link:hover::before,
.cart-link:hover::before,
.search:hover::before {
  opacity: 1;
}

.bookmarks-link:focus::before,
.cart-link:focus::before {
  opacity: 0.5;
}

a.button-green {
  background-color: #63a63e;
}

a.button-green:hover {
  background-color: #5fbb2d;
}

a.button-green:focus {
  color: #b6c8ae;
  background-color: #518534;
}

a.cart-active {
  background-color: #ee3643;
}

a.cart-active:hover {
  background-color: #ca2c37;
}

a.cart-active:focus {
  color: #b6c8ae;
  background-color: #ba2732;
}

.page-title-index,
.header-title,
.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;

  background-color: #f3f7f8;
}

.phone {
  display: block;
  position: relative;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 9px 50px 9px 70px;
  margin-bottom: 4px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;
  width: 18px;
  height: 19px;

  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.login-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.user-field,
.user-links {
  margin: 0;
  padding: 0;
}

.user {
  margin-left: auto;
}

.login-navigation,
.menu-header-navigation {
  list-style: none;
}

.login-navigation a,
a.user-profile {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}

a.sign-in-link {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.sign-in-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-in-link:hover::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-navigation a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

a.user-profile:hover {
  color: #000000;
  background-color: #ffffff;
}

.login-navigation a:focus,
a.user-profile:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}

a.user-profile {
  position: relative;
  padding-left: 47px;
  padding-right: 69px;
  margin-bottom: 8px;
}

.user-profile::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:hover::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:focus::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.deauthorization {
  position: relative;
}

.deauthorization::before {
  content: "";

  position: absolute;
  top: -39px;
  left: 270px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.deauthorization:hover::before {
  content: "";

  position: absolute;
  top: -39px;
  left: 270px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-logout-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.deauthorization:focus::before {
  content: "";

  position: absolute;
  top: -39px;
  left: 270px;
  width: 20px;
  height: 18px;

  background-image: url("img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-links {
  padding-left: 18px;
}

.user-links a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-decoration: underline;

  background-color: #f3f7f8;
}

.user-links a:nth-child(2) {
  margin-left: 32px;
}

.user-links a:hover {
  color: #ee3643;
  background-color: #f1f5f7;
}

.user-links a:focus {
  color: #cacfd5;
  background-color: #f1f5f7;
}

ul.menu-header-navigation {
  line-height: 17px;
}

.menu-header-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 60px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.menu-header-navigation a {
  display: block;
  padding: 0;
  margin: 0;
  padding: 19px 31px;

  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
}

.menu-header-navigation li:nth-child(1) > a {
  padding-left: 50px;
}

.menu-header-navigation li:nth-child(7) > a {
  padding-right: 50px;
}

.menu-header-navigation a:hover {
  background-color: #293449;
}

.menu-header-navigation a:focus {
  color: #8b8e94;
  background-color: #1d2739;
}


/*Стили main*/

/*Главная*/

.container-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  min-height: 370px;
}

.container-company p {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.company {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.company a {
  margin-top: auto;
  align-self: flex-start;
}

.contacts a {
  margin-top: auto;
  align-self: stretch;
}

.company h2,
.contacts h2,
.modal h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.company h2,
.contacts h2 {
  margin-bottom: 30px;
}

.modal-cart-adding h2 {
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  margin-left: 180px;
}

.company p:nth-child(3) {
  width: 400px;
  margin-bottom: 26px;
}

.contacts p {
  margin-bottom: 28px;
}

.transport-companies-list {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.transport-companies-list li {
  margin-bottom: 15px;
}

.button {
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  padding-top: 11px;
  padding-bottom: 9px;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.company .button {
  padding-left: 40px;
  padding-right: 40px;
}

.button-area {
  background-color: #f4f4f4;
}

.letter-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.letter-item textarea,
.letter-item input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
}

.letter-form .button {
  padding-left: 198px;
  padding-right: 198px;
}


/*Каталог*/

ul.breadcrumbs {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
  background-color: #ffffff;
}

h1.page-title-inner {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:focus {
  border: 1px solid #ee3643;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item-price b {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.old-price {
  color: #999999;
  background-color: #ffffff;
  text-decoration: line-through;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
}

.hidden .button-purchase,
.hidden .button-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.hidden .button-purchase {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0 3px 0 rgba(54, 115, 21, 1);
}

.hidden .button-purchase:hover {
  background-color: #5fbb2d;
  box-shadow: 0 3px 0 rgba(54, 115, 21, 1);
}

.hidden .button-purchase:focus {
  background-color: #518534;
  box-shadow: 0 3px 0 rgba(81, 133, 52, 1);
}

.hidden .button-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.hidden .button-bookmark:hover {
  border: 3px solid #32425c;
}

.hidden .button-bookmark:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.button-area .button-red {
  padding-left: 61px;
  padding-right: 61px;
}

.button-area .button-white {
  color: #000000;
  background-color: #ffffff;
  padding-left: 46px;
  padding-right: 46px;
}

.button-area .button-white:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.button-area .button-white:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}


/*Стили footer*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 85px;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-down {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow,
.footer-social {
  list-style: none;
}

.menu-footer-navigation-white a {
  color: #ffffff;
  background-color: #32425c;
}

.menu-footer-navigation-yellow a {
  color: #ffd180;
  background-color: #32425c;
}

.main-footer a:hover {
  text-decoration: underline;
}

.menu-footer-navigation-white a:focus {
  color: #a4abb4;
  background-color: #32425c;
  text-decoration: none;
}

.menu-footer-navigation-yellow a:focus {
  color: #ad956f;
  background-color: #32425c;
  text-decoration: none;
}

.footer-down a {
  color: #ffd180;
  background-color: #293449;
}

.footer-down a:focus {
  color: #ee3643;
  background-color: #293449;
  text-decoration: none;
}

.footer-social a {
  color: #ffffff;
}

.social-button-vk,
.social-button-f,
.social-button-inst {
  position: relative;
}

.social-button-vk::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 15px;

  background-image: url("img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 20px;
  padding: 13px 7px;
  background-position: 50% 50%;
}

.social-button-f::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 46px;
  width: 12px;
  height: 22px;

  background-image: url("img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 20px;
  padding: 9px 14px;
  background-position: 50% 50%;
}

.social-button-inst::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 92px;
  width: 20px;
  height: 20px;

  background-image: url("img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 20px;
  padding: 10px 10px;
  background-position: 50% 50%;
}

.social-button-vk:hover::before,
.social-button-f:hover::before,
.social-button-inst:hover::before,
.social-button-vk:focus::before,
.social-button-f:focus::before,
.social-button-inst:focus::before {
  background-color: #ee3643;
}
